.verify-container{

width:100%;
min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

background:#f8fafc;


}



.verify-card{


width:400px;

background: var(--bg-primary);

padding:45px;

border-radius:18px;


text-align:center;


box-shadow:

0 15px 40px

rgba(0,0,0,0.12);



}



.verify-card h2{


font-size:26px;

color:#0f172a;


margin:15px 0;


}




.verify-card p{


font-size:15px;

color:#64748b;

line-height:1.5;


}



.success-icon{


font-size:55px;

color:#22c55e;

font-weight:bold;


}




.failed-icon{


font-size:55px;

color:#ef4444;

font-weight:bold;


}





button{


margin-top:25px;


border:none;


padding:12px 30px;


border-radius:8px;


background:#7c3aed;


color:white;


font-weight:600;


cursor:pointer;


}



button:hover{


background:#6d28d9;


}




.redirect{

margin-top:10px;

font-size:14px!important;

color:#22c55e!important;


}


